*{
  margin: 0;
  padding: 0;
  min-width: 300px;
}

body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: #c0d2d4;
  color: #555;
}

h1{
  font-weight: 900;
  background-color: aquamarine;
  color: white;
  text-align: center;
  font-size: 300%;
  line-height: 1.2;
  padding: 5px 15px;
  margin: 10px 24%;
  border-radius: 10px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow cards to wrap to the next row if there's not enough space */
  margin: 20px; /* Add margin as needed */
}

.card {
  height: 200px;
  width: 200px;
  background: white;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3{
  font-size: 20px;
  margin-top: 10px;
}

.card p {
  margin-top: 10px;
}